
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
              <img src="/img/logo.png" class="img fluid" weight=" 100px" weight=" 100px">
                
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Topbar Start -->
        <div class="container-fluid bg-dark px-5 d-none d-lg-block">
            <div class="row gx-0 align-items-center" style="height: 45px;">
                <div class="col-lg-8 text-center text-lg-start mb-lg-0">
                    <div class="d-flex flex-wrap">
                
                        <a href="#" class="text-light me-4"><i class="fas fa-phone-alt text-primary me-2"></i>
(17) 99179-4080</a>
                        
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-end">
                    <div class="d-flex align-items-center justify-content-end">
                        <a href="https://web.facebook.com/escolamariaperegrina.sjrp/?_rdc=1&_rdr" class="btn btn-light btn-square border rounded-circle nav-fill me-3"><i class="fab fa-facebook-f"></i></a> 
                        <a href="https://www.instagram.com/brechomariaperegrina.vetorazzo/" class="btn btn-light btn-square border rounded-circle nav-fill me-3"><i class="fab fa-instagram"></i></a>
                        <a href="https://api.whatsapp.com/message/MRBEGXCSJ654C1?autoload=1&app_absent=0" class="btn btn-light btn-square border rounded-circle nav-fill me-0"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Topbar End -->


        <!-- Navbar & Hero Start -->
        <div class="container-fluid position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
                <a href="index.html" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><img height="100%" src="/img/logo.svg">Maria Peregrina</h1>
                    
                    <!-- <img src="/img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                       
                        <div class="nav-item dropdown">
                            
                        </div>
                    
                    <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 flex-wrap flex-sm-shrink-0">Entre em contato!</a>
                </div>
            </nav>


            <!-- Carousel Start -->
            <div class="header-carousel owl-carousel">
                <div class="header-carousel-item">
                    <img src="img/backdrop.jpg" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="carousel-caption-content p-3">
                            <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Venha nos conhecer</h5>
                            <h1 class="display-1 text-capitalize text-white mb-4">Brechó Maria Peregrina</h1>
                            <p class="mb-5 fs-5">"Moda com história, encontrada no nosso brechó."
                        </div>
                    </div>
                </div>
                <div class="header-carousel-item">
                    <img src="img/backdrop2.jpg" class="img-fluid w-100" alt="Image">
                    <div class="carousel-caption">
                        <div class="carousel-caption-content p-3">
                            <h5 class="text-white text-uppercase fw-bold mb-4" style="letter-spacing: 3px;">Venha nos conhecer</h5>
                            <h1 class="display-1 text-capitalize text-white mb-4">Moda sustentável</h1>
                            <p class="mb-5 fs-5 animated slideInDown"> Reutilizamos roupas e materiais tanto famino quanto masculino.Moda sustentável não é um modismo, mas sim uma consciencia cidadã que gera sustentabilidade ambiental e social.Aquilo que não serve mais para nós, pode ser cuidadosamente doado e reutilizado por outra pessoa!

                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel End -->
        </div>
        <!-- Navbar & Hero End -->


        <!-- Services Start -->
        <div class="container-fluid service py-5">
            <div class="container py-5">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="sub-style">
                        <h4 class="sub-title px-3 mb-0">Descubra o que nos torna únicos </h4>
                    </div>
                    <h1 class="display-3 mb-4">Nossos projetos</h1>
                    <p class="mb-0"><strong> No brechó, vende de tudo, novos e usados, nas modalidades de roupas, acessórios, sapatos,utensílios,decoração,móveis,enfim,tudo bem higienizado e tratado, com fim de oferecer aos nossos clientes, produtos com preços em conta.</strong></p>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="img/backdrop13 (2).png" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Roupas</h5>
                                    <p class="mb-4">No brechó há muitas variedades. Looks para passear no seu fim de semana, look para ir em festas, looks para ficar em casa, looks para todo e qualquer momento,todas as peças impecáveis, de boa marca e todas muito estilosas. Venha conferir no brechó e se apaixonar pelas peças imperdíveis e de ótima qualidade!</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="img/backdrop15.png" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Estoque de Portas Abertas</h5>
                                    <p class="mb-4">O Estoque de Portas abertas é um movimento para atrair ciente que acontece todo mês e se estende por uma semana. Esse movimento acontece da seguinte forma: Eles colocam o preço de todas as peças do estoque por um único valor acessível para todos. Um movimento inovador que não se encontra em nenhuma outra loja. Mais uma coisa impersível no brechó!</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="img/backdrop16.png" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Contribuição</h5>
                                    <p class="mb-4"> Os pais e alunos da escola ajudam semanalmente na manutenção, no serviço e na colaboração para o brechó, assim toda a renda no brechó é para ajudar a manutenção das atividades na escola Maria Peregrina.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item rounded">
                           <div class="service-img rounded-top">
                                <img src="img/backdrop17.png" class="img-fluid rounded-top w-100" alt="">
                           </div>
                            <div class="service-content rounded-bottom bg-light p-4">
                                <div class="service-content-inner">
                                    <h5 class="mb-4">Colchões</h5>
                                    <p class="mb-4"> Os colchões da escola Maria Peregrina são muito confortáveis, de ótima qualidade, ainda mais em um ótimo preço. Ninguém acha um colchão tão bom em tão pouco preço. Todos que compram ficam admirados e começam a comprar só os colchões do brechó. Aproveite essas oportunidades!</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    


        <!-- About Start -->
        <div class="container-fluid about bg-light py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-img pb-5 ps-5">
                            <img src="img/backdrop6.png" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">
                            <div class="about-img-inner">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="section-title text-start mb-5">
                            <h4 class="sub-title px-3 mb-0">Sobre nós</h4>
                            <h1 class="display-3 mb-4">Essência do brechó</h1>
                            
                            
                            <div class="mb-4">
                                <i class="fa fa-check text-primary me-2"><strong></i> Há muitas causas que o motiva e fazem parte de sua essencia, o que não o faz ser um instituto qualquer, mas sim com um porque maior. O brechó foi feito para a sustentabilidade da escola Maria Peregrina, assim toda renda é revertida para os projetos educacionais.Sendo sem fins lucrativos. Por isso que este instituto foi criado. Assim também os pais, mas não só eles, possam achar roupas com qualidades e também doar roupas com qualidades em tão pouco preço, para que os produtos sejam acessíveis para todos.</p></strong>
                                </div>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-3 px-5">Entre em contato!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="/img/backdrop.jpg">
                <div class="row g-5 justify-content-center">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4"><i class="fas fa-star-of-life me-3"></i>Horários de funcionamento</h4>
                            <p>De segunda a sexta: Dás 08:00 às 18:00;
                            </p> <p> Sábado: Dás 09:00 às 13:00;</p> <p> Domingo: FECHADO;</p>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-share fa-2x text-white me-2"></i>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                <a class="btn-square btn btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="mb-4 text-white">Saiba mais</h4>
                            <a href=""><i class="fa fa-map-marker-alt me-2"></i> Av. Fortunato Ernesto Vetorasso 1462, São José do Rio Preto, SP, 15041-000 </a>
                            <a href=""><i class="fas fa-envelope me-2"></i> brecho@mariaperegrina.org.br</a>
                            <a href=""><i class="fas fa-phone me-2"></i>
(17) 99179-4080</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
        
    </body>

</html>